

# Lab 2: Practicing Data Exploration

This lab is based on material discussed in lecture 2 while building on from the Python refresher and week 1.

# Part 1: Constructing a dataframe

## Reading in data

In [42]:
# Import your necessary libraries
import numpy as np
import pandas as pd

You are given two .csv files: (1) the_names.csv contains the names of the students in our class (2) the_locations.csv contains the state where the student is based in. The order was determined by the order you filled out the student survey.

In [43]:
# Read in the .csv files
# Be sure to include header=None as a parameters
# For example: names_df = pd.read_csv('filename', header=None)

In [44]:
names_df=pd.read_csv('shared/datasets/the_names.csv', header=None)
location_df=pd.read_csv('shared/datasets/the_locations.csv', header=None)

Add a column containing the locations to the existing names dataframe.

In [45]:
names_df['location'] = location_df

For typing convenience, rename your dataframe to something short like df

In [46]:
df = names_df

Assign column names that reflect the information we have (ie: something like names/students and locations)

In [47]:
df.columns = ['Names of Students', 'Locations']

## Adding data to existing dataframe

A function which generates a random distance in kilometers from the students' location to NYU campus given a state input is given.

Insert a new column with this information to your dataframe. Give it a descriptive and easy to type name.

In [48]:
import random

In [49]:
# Given: Random generator of approximate distance from students' location to NYU campus
def get_dist(state):
  
  if state == "New York":
    dist = random.randint(10, 70)
    return dist
  elif state == "New Jersey":
    dist = random.randint(10, 30)
    return dist
  elif state == "North Carolina":
    dist = random.randint(800, 850)
    return dist

  elif state == "Wisconsin":
    dist = random.randint(1500, 1550)
    return dist


Hint: 

1.   You can initialize an empty list
2.   Using a for loop, you can loop through the appropriate dataframe column (recall that Pandas dataframe objects can act like lists so this is valid)
3.   Inside the loop, perform your function to each item in the list
4.   Append the result to your initialized list
5.   Once you have your list, perform add column with this new info

Alternatively, there is a less verbose way of completing this task. You can achieve this result with a one-line piece of code.

If you have another way to add this information, it is very welcomed.

In [50]:
random.seed(1831) # Please keep this line of code here; NYU was founded in 1831

In [51]:
state = df["Locations"].values.tolist()
print(state)
rand_dist = []
for value in state:
    df_values = get_dist(value)
    rand_dist.append(df_values)
df.rand = pd.DataFrame(rand_dist, columns=['Random Distance'])

print(df.rand)

['New York', 'North Carolina', 'New York', 'New York', 'New York', 'New York', 'New York', 'New York', 'New York', 'New York', 'New Jersey', 'Wisconsin', 'New Jersey', 'New York', 'New York']
    Random Distance
0                42
1               845
2                64
3                48
4                52
5                57
6                55
7                13
8                17
9                42
10               30
11             1520
12               10
13               20
14               23

/tmp/ipykernel_53/4251297996.py:7: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.rand = pd.DataFrame(rand_dist, columns=['Random Distance'])

In [52]:
names_df['Random Distance'] = df.rand
print(names_df)

       Names of Students       Locations  Random Distance
0             Oceana Zhu        New York               42
1           Justin Huang  North Carolina              845
2     Julia Moosikasuwan        New York               64
3               Jason Ng        New York               48
4       Labiba Siddiquei        New York               52
5         Isaiah Adeleke        New York               57
6         Hannah Van Son        New York               55
7   Gulchehra Davranova         New York               13
8       Zabelle Bobelian        New York               17
9           Jonathan Yap        New York               42
10           Catelyn Yam      New Jersey               30
11     Bethany L Wareing       Wisconsin             1520
12    Josiah St Bernard       New Jersey               10
13            Instructor        New York               20
14    Teaching Assistant        New York               23

# Part 2: Exploring your dataframe

## Sorting and filtering data

Display everyone in your newly made dataframe

In [53]:
print(df)

       Names of Students       Locations  Random Distance
0             Oceana Zhu        New York               42
1           Justin Huang  North Carolina              845
2     Julia Moosikasuwan        New York               64
3               Jason Ng        New York               48
4       Labiba Siddiquei        New York               52
5         Isaiah Adeleke        New York               57
6         Hannah Van Son        New York               55
7   Gulchehra Davranova         New York               13
8       Zabelle Bobelian        New York               17
9           Jonathan Yap        New York               42
10           Catelyn Yam      New Jersey               30
11     Bethany L Wareing       Wisconsin             1520
12    Josiah St Bernard       New Jersey               10
13            Instructor        New York               20
14    Teaching Assistant        New York               23

What is the shape of the dataframe? How many observations are there? How many variables are there?

Write your answer through inspection and also confirm with a built-in function.

In [54]:
#shape of the dataframe
df.shape

(15, 3)

In [55]:
#number of obervations
df.shape[0]

15

In [56]:
#number of variables
df.shape[1]

3

Conclusions: The shape of the data frame is (13,3). There are 13 observations and 3 variables.

In [57]:
# Given: Run this code and observe
df.describe()

       Random Distance
count        15.000000
mean        189.200000
std         423.317544
min          10.000000
25%          21.500000
50%          42.000000
75%          56.000000
max        1520.000000

Show dataframe when you filter local people (people with "New York" as their location) and non-local people (people based in states other than "New York")

In [58]:
#New York people
ny_df = df[df["Locations"].str.contains('New York')]
print(ny_df)

       Names of Students Locations  Random Distance
0             Oceana Zhu  New York               42
2     Julia Moosikasuwan  New York               64
3               Jason Ng  New York               48
4       Labiba Siddiquei  New York               52
5         Isaiah Adeleke  New York               57
6         Hannah Van Son  New York               55
7   Gulchehra Davranova   New York               13
8       Zabelle Bobelian  New York               17
9           Jonathan Yap  New York               42
13            Instructor  New York               20
14    Teaching Assistant  New York               23

In [59]:
#Non-New York people
nny_df = df[~df["Locations"].str.contains('New York')]
print(nny_df)

     Names of Students       Locations  Random Distance
1         Justin Huang  North Carolina              845
10         Catelyn Yam      New Jersey               30
11   Bethany L Wareing       Wisconsin             1520
12  Josiah St Bernard       New Jersey               10

Show people who are located within 30 km (inclusive) of NYU or more than 300 km (inclusive).

In [60]:
df[ df['Random Distance'] <=30 ]

       Names of Students   Locations  Random Distance
7   Gulchehra Davranova     New York               13
8       Zabelle Bobelian    New York               17
10           Catelyn Yam  New Jersey               30
12    Josiah St Bernard   New Jersey               10
13            Instructor    New York               20
14    Teaching Assistant    New York               23

Sort people by distance in ascending order (shortest to longest distance)

In [61]:
df.nsmallest(15, 'Random Distance')

       Names of Students       Locations  Random Distance
12    Josiah St Bernard       New Jersey               10
7   Gulchehra Davranova         New York               13
8       Zabelle Bobelian        New York               17
13            Instructor        New York               20
14    Teaching Assistant        New York               23
10           Catelyn Yam      New Jersey               30
0             Oceana Zhu        New York               42
9           Jonathan Yap        New York               42
3               Jason Ng        New York               48
4       Labiba Siddiquei        New York               52
6         Hannah Van Son        New York               55
5         Isaiah Adeleke        New York               57
2     Julia Moosikasuwan        New York               64
1           Justin Huang  North Carolina              845
11     Bethany L Wareing       Wisconsin             1520

## Editting Entries

Find the datapoint with the name "Instructor" and "Teaching Assistant" (use Python to locate it)

Edit the distance under these two entries to be 0.

In [62]:
print(df[df['Names of Students']=='Instructor'].index.values)

[13]

In [63]:
print(df[df['Names of Students']=='Teaching Assistant'].index.values)

[14]

In [64]:
df.loc[13,"Random Distance"] = 0
df.loc[14,"Random Distance"] = 0

## Math Operations on Data

Convert the distance from kilometers to any unit of distance you wish. Include the conversion factor as a comment. Add this new information as a column to your dataframe.

In [65]:
#km to m (multiply by 1000)
df['Random Distance in m'] = df['Random Distance'].apply(lambda x: x*1000)

## Deleting Data - Rows & Columns

Before you go to the next step, delete the column you just made.

In [66]:
del df['Random Distance in m']

Before moving on to the next step, delete the entries "Instructor" and "Teaching Assistant" (use Python to find these entries)

In [67]:
print(df[df['Names of Students']=='Instructor'].index.values)

[13]

In [68]:
print(df[df['Names of Students']=='Teaching Assistant'].index.values)

[14]

In [69]:
df=df.drop([df.index[13], df.index[14]])

# Part 3: Performing Grouping for data analysis

We want to find the average distance for students in each state. 

Another way to think about it: What is the average distance that a New York student lives away from NYU? How about a New Jersey/North Carolina/Wisconsin student?

Create a groupby object for your dataframe based on the location of the students

In [70]:
gb_df=df.groupby("Locations")

In [71]:
# Given: Run the code and observe
gb_df.describe()

               Random Distance                                          \
                         count         mean        std     min     25%
Locations
New Jersey                 2.0    20.000000  14.142136    10.0    15.0
New York                   9.0    43.333333  17.549929    13.0    42.0
North Carolina             1.0   845.000000        NaN   845.0   845.0
Wisconsin                  1.0  1520.000000        NaN  1520.0  1520.0


                   50%     75%     max
Locations
New Jersey        20.0    25.0    30.0
New York          48.0    55.0    64.0
North Carolina   845.0   845.0   845.0
Wisconsin       1520.0  1520.0  1520.0

Using the groupby object you have made, aggregate on it using the appropriate variable and function

In [72]:
avg_df=df.groupby('Locations').agg("mean")
print(avg_df)

                Random Distance
Locations
New Jersey            20.000000
New York              43.333333
North Carolina       845.000000
Wisconsin           1520.000000

/tmp/ipykernel_53/4281976541.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg_df=df.groupby('Locations').agg("mean")

Display as a dataframe the maximum distance any student from each state needs to travel to get to NYU

In [73]:
max_df=df.groupby('Locations').agg("max")
print(max_df)

                 Names of Students  Random Distance
Locations
New Jersey      Josiah St Bernard                30
New York          Zabelle Bobelian               64
North Carolina        Justin Huang              845
Wisconsin        Bethany L Wareing             1520

# Part 4: Saving your new data

Save your new dataframe (the non group-by non aggregate one; the one you constructed in the beginning) to a .csv file

In [74]:
df.to_csv(path_or_buf=None, sep=',', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, mode='w', encoding=None, compression='infer', quoting=None, quotechar='"', lineterminator=None, chunksize=None, date_format=None, doublequote=True, escapechar=None, decimal='.', errors='strict', storage_options=None)

',Names of Students,Locations,Random Distance\n0,Oceana Zhu,New York,42\n1,Justin Huang,North Carolina,845\n2,Julia Moosikasuwan,New York,64\n3,Jason Ng,New York,48\n4,Labiba Siddiquei,New York,52\n5,Isaiah Adeleke,New York,57\n6,Hannah Van Son,New York,55\n7,Gulchehra Davranova ,New York,13\n8,Zabelle Bobelian,New York,17\n9,Jonathan Yap,New York,42\n10,Catelyn Yam,New Jersey,30\n11,Bethany L Wareing,Wisconsin,1520\n12,Josiah St Bernard ,New Jersey,10\n'

Optional: Also save your new dataframe as an excel file

Hint: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_excel.html

#I would've done this except I couldn't figure out the excel_writer part